<div class="container">
    <h1 class="mt-2">Listado de Pokémon</h1>
    <hr>
    <div>
        <div class="search">
            <button class="btn btn-outline-primary" (click)="show()"><i class="bi bi-plus"></i> Nuevo</button>
        </div>
        <app-form-new *ngIf="flag" [state]="flag" [option]="option" [title]="title" [pokemon]="pokemon" (flag)="listenSon($event)"></app-form-new>
        <app-form  (flag)="listenSon($event)" (title)="changeTitle($event)" (pokemon)="editPokemon($event)"></app-form>
    </div>
</div>
