<div class="container">
    <h1>Información de contacto</h1>
    <hr>
    <div class=" text-center">
        <img src="../../../assets/Foto_perfil.jpg" class="rounded" alt="Foto de Perfil" width="200" height="200">
        <h4>Jhonny Javier Muñoz Cedeño</h4>
    </div>
    <hr>
    <div class="text-center mt-4">
        <h3>Vías de Contacto</h3>
    </div>
    <div class="text-center mt-2 container-social">
        <a href="https://www.linkedin.com/in/jhonny-javier-mu%C3%B1oz-cede%C3%B1o-0ab0081bb/" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" class="img-fluid" alt="Logo Linkedin" width="50" height="50">
        </a>
        <a href="https://github.com/jhonnymunoz97" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" class="img-fluid" alt="Logo Github"  width="50" height="50">
        </a>
        <a href="mailto:jhonnyjmc97@gmail.com">
                <img src="https://cdn.icon-icons.com/icons2/1826/PNG/512/4202011emailgmaillogomailsocialsocialmedia-115677_115624.png" class="img-fluid" alt="Logo Email"  width="50" height="50">
        </a>
        <a href="https://api.whatsapp.com/send?phone=+5930969167586" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/174/174879.png" class="img-fluid" alt="Logo WhatsApp"  width="50" height="50">
        </a>
    </div>
    


</div>
