<div class="container mt-3">
    <h1>Consultas de la API</h1>
    <hr>
    <div class="container-input">
        <div class="input-group mb-3">
            <label for="idPokemon" [style.margin-right]="'10px'">Consultar pokémon por ID:</label>
            <button class="btn btn-outline-secondary" type="button" id="button-addon1" (click)="search()">
                <i class="bi bi-search"></i>
            </button>
            <input 
                id="idPokemon"
                type="number" 
                min="1" 
                max="999" 
                class="form-control" 
                placeholder="Enter ID"
                [style.max-width]="'100px'"
                
            >
        </div>
        <div class="input-group mb-3">
            <label for="idPokemon" [style.margin-right]="'10px'">Consultar cantidad de Registros por ID del Author:</label>
            <button class="btn btn-outline-secondary" type="button" id="button-addon1" (click)="searchByAuthor()">
                <i class="bi bi-search"></i>
            </button>
            <input 
                id="idAuthor"
                type="number" 
                min="1" 
                max="999" 
                class="form-control" 
                placeholder="Enter ID"
                [style.max-width]="'100px'"
                
            >
            <span class="badge bg-success text-center" *ngIf="idAuthor>0" > Total: {{ cant_reg }} </span>
        </div>
    </div>
    <hr>
    <div class="alert alert-warning" role="alert" *ngIf="msg">
        No se ha encontrado un Pokemon con el ID: {{ txt_id }}
    </div>
    <div class="card mt-3 mb-5" style="width: 18rem;" *ngIf="!msg && txt_id > 0">
        <img [src]="pokemon.image" class="card-img-top" [alt]="pokemon.name" width="150" height="150">
        <div class="card-body">
          <h3 class="card-title text-center">{{pokemon.name}}</h3>
          <hr>
          <div class="info-card">
            <span class="badge bg-primary ">Tipo: {{ pokemon.type }}</span>
            <span class="badge bg-primary ">HP: {{ pokemon.hp }}</span>
          </div>
          <div class="info-card">
            <span class="badge bg-primary ">Ataque: {{ pokemon.attack }}</span>
            <span class="badge bg-primary ">Defensa: {{ pokemon.defense }}</span>
          </div>
        </div>
    </div>    
</div>
