<table class="table mt-5 mb-5" style="text-align: center;">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Imagen</th>
        <th scope="col">Ataque</th>
        <th scope="col">Defensa</th>
        <th scope="col" colspan="2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pokemon of pokemons" >
        <th> {{ pokemon.name }} </th>
        <td>
            <img [src]="pokemon.image" [alt]="pokemon.name" width="100" height="100" class="d-inline-block align-text-top">        </td>
        <td>{{ pokemon.attack }}</td>
        <td> {{ pokemon.defense }} </td>
        <td colspan="2" style="text-align: center;">
            <button type="button" class="btn btn-primary" style="margin-right: 10px;"> <i class="bi bi-pencil-square"></i> </button>
            <button type="button" class="btn btn-danger"> <i class="bi bi-trash"></i> </button>
        </td>
      </tr>
    </tbody>
  </table>