<div class=" mb-5 text-center"> 
  <table
    datatable 
    [dtOptions]="dtOptions" 
    [dtTrigger]="dtTrigger" 
    class="row-border hover text-center"
  >
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Imagen</th>
        <th scope="col">Ataque</th>
        <th scope="col">Defensa</th>
        <th scope="col" >Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pokemon of pokemons">
        <td> {{ pokemon.name }} </td>
        <td>
            <img [src]="pokemon.image" [alt]="pokemon.name" width="100" height="100" class="d-inline-block align-text-top">        </td>
        <td>{{ pokemon.attack }}</td>
        <td> {{ pokemon.defense }} </td>
        <td style="text-align: center;">
            <button type="button" class="btn btn-primary" style="margin-right: 10px;" (click)="emitState(pokemon)"> <i class="bi bi-pencil-square"></i> </button>
            <button type="button" class="btn btn-danger" (click)="delete(pokemon.id)" > <i class="bi bi-trash"></i> </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

